.bg {
  background-color: teal;
}

.bg-clip {
  background-color: #FFCA23
}


.offer-height {
  height: 20em;
}

#myVideo {
  padding-bottom: 2rem;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
