.bg {
  background-color: teal;
}

.bg-clip {
  background-color: #FFCA23
}


.offer-height {
  height: 20vw;
}

#myVideo {
  padding-bottom: 2rem;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
